body {
  width: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  * {
    // border: 1px solid black;
  }
}

ul {
  list-style-type: none;
}
.task-container { 
  display: flex;
  align-items: center;
  font-size: 1.4rem;

  button {
    background: transparent;
    border: none;
    padding: 5px;
    outline: none;

    i {
      color: red;
      font-size: 1.2rem;
      // padding: 8px 8px 8px 8px;
    }
  }
}